.file-labels {
  display: grid;
  grid: "auto auto auto auto auto auto auto auto";
  width: 500px;
}

.label {
  align-items: center;
  cursor: default;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  margin: 5px;
  user-select: none;
}

.rank-labels {
  display: grid;
  grid: "auto";
  width: 25px;
}
