.board {
  display: grid;
  grid: "auto auto auto auto auto auto auto auto";
  grid-template-rows: 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px 62.5px;
  height: 500px;
  width: 500px;
}

.board-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.board-sub-container {
  display: flex;
}
